// styles/sass/abstracts/_variables.scss

@use 'sass:map';


$breakpoints: (
 large: 1024px, //desktop
 medium: 768px, //mobile screens
 small: 640px, //mobile screens
 x-small: 360,
);




//Animation variables

$duration: .8s;
$delay: .2s;
$ease-out: cubic-bezier(.25, .8, .25, 1);
$jump-distance: 10px;
$scale-factor: 1.05;
$hover-shadow: 0 4px 20px regba(0, 0, 0, .1);