//client/styles/sass/base/_animation.scss

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// categories section animation

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes jumpAndScale {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-$jump-distance) scale(1.05);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

.card-item {
  @include jumpAndScale(0s); // Apply the initial jump and scale animation

  // Hover effect after jumpAndScale animation
  &:hover {
    @include hoverEffect; // This includes the transition on transform and box-shadow
  }


  &:nth-child(1) {
    @include jumpAndScale(0s); //no delay for the first child
  }

  &:nth-child(2) {
    @include jumpAndScale(0.2s); // slight delay for the second card
  }

  &:nth-child(3) {
    @include jumpAndScale(0.4s); //slight delay for the third card
  }

  &:nth-child(4) {
    @include jumpAndScale(0.6s); //slight delay for the last card
  }
}

// .categories h1 {
//   @include slideInFromLeft(0.1s); //no delay for the first child
// }




