//styles/sass/base.scss

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  
  font-size: 62.5%;
}

body {
 
font-family: 'Poppins', sans-serif;
font-weight: 400;
line-height: 1.7;
overflow-x: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}



body .main__container {
  display: grid;
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100vw;
  padding:0;
}

// body .main__container .__hero {
//   // background-color: bisque;
// }

body .main__container .__categories {
 display: flex; //Ensures that it rounds aroud the content
 align-items: center; //centers the items vertically
 justify-content: center;
 height: auto; /* Let it expand dynamically */
 width: 100vw;  // Use viewport width to eliminate extra margins
 max-width: 100%;  // Prevents any max-width constraints
 min-height: 100vh; // Ensure the background covers enough space
 overflow: hidden;
 padding: 5rem auto;
 /* Adjust height for larger screens */
 @media (min-width: 1024px) { /* For lg and larger screens */
   max-height: 70vh; /* Reduce the height on larger screens */
 }
}

body .main__container .__one__piece {
 display: flex;
 justify-content: space-evenly;
 width: 100vw;
//  min-height: 60vh;

 border-top: .5px solid var(--gray-light);
}

// body .main__container .__features {
// }

// body .main__container .__best__selling {
//   background-color: rgb(235, 155, 155);
// }

// body .main__container .__signin__signup__form {
//   background-color: rgb(233, 221, 221);
// }

body .main__container > section {
  width: 100%;
}


.__Footer {
 &__item--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
 }

 &--item {
  font-size: 1.3rem;
 }

 &--item:hover {
  color: var(--pinkish);
  transition: ease-in all 0.2s;
  cursor: pointer;
}
}




