// styles/sass/modules/button.module.scss
@use '../abstracts/mixins' as *; // Add this to use the mixin

.button {
  display: flex;
  align-items: center;
  justify-items: center;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  // border: 2px solid currentColor;
  box-sizing: border-box !important;

    // Add these dynamic hover color changes
    // &.hover-text-color {
    //   &:hover {
    //     color: var(--hover-text-color);
    //   }
    // }
  
    &.hover-bg-color {
      &:hover {
        background-color: var(--hover-bg-color);
      }
    }
  
  &.pulse {
    animation: pulse .6s ease-in-out infinite;
  }

  &.slide-in-bottom {
    transform: translateY(0);
    transition: all .3s ease;
  }

  &.shadow-expand {
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);

    &:hover {
      box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
    }
  }

  &.text-underline {
    position: relative;

    &::after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: currentColor;
      transition: width .3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &.bounce {
    animation: bounce .5s ease;
  }

  &.flip {
    transform: rotateY(180deg);
    transition: transform .5s ease;
  }

  &.wave {
    position: relative;
    overflow: hidden;

    &::before {
      content: " ";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300%;
      height: 300%;
      background: rgba(255, 255, 255, .2);
      border-radius: 50%;
      animation: wave .6s linear;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    transform: scale(1.01);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bounce {

  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes wave {
  0% {
    width: 30%;
    height: 30%;
    opacity: 1;
  }

  100% {
    width: 300%;
    height: 300%;
    opacity: 0;
  }
}

.arrow-down {
  display: inline-block;
  opacity: 0;
  transform: translateY(-20px);
  transition: all .7s ease;
}

.button:hover .arrow-down {
  opacity: 1;
  transform: translateY(0);
  padding-right: .1rem;
}


.primary {
  background-color: var(--navy-dark);
  color: var(--white);
  &:hover {
    background-color: var(--navy-medium);
  }
}

.gradient {
  background-color: transparent;
  color: var(--gradient-color, var(--gradient-start));
  border: 2px solid transparent; // Ensures border is visible
  border-image-source: linear-gradient(
    to right,
    var(--gradient-color, var(--gradient-start)),
    var(--gradient-mid),
    var(--gradient-end)
  );
  border-image-slice: 1;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.secondary {
  background-color: transparent;
  border: 2px solid var(--navy-dark);
  color: var(--navy-dark);
}


.textButton {
  background-color: transparent;
  color: var(--black);
  border: none;
}

// Button Shapes
.rounded {
  border-radius: 12px;
}

.pill {
  border-radius: 50px;
}

.square {
  border-radius: 2px;
}

.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: .5rem;
  height: 3.3rem;
  border: 2px solid currentColor;
}

.large {
  padding: 11px 15px;
  font-weight: 500;
  font-size: 1.2rem;

  @include responsive($size: medium) {
    padding: 9px 12px;
    font-size: 1.1rem;
  }

  @include responsive($size: small) {
    padding: 8px 10px;
    font-size: 1rem;
  }
}



.medium {
  padding: 8px 8px;
  font-size: 1.16rem;
  font-weight: 400;
  border-radius: .7rem;

  @include responsive($size: small) {
    padding: 7px 10px;
    font-size: 1rem;
    line-height: 2rem;
  }

}

.small {
  padding: 5px 8px;
  font-size: .9rem;
  font-weight: 300;


  @include responsive($size: small) {
    padding: 3px 6px;
    font-size: .7rem;
  }

}


